.container-card
  width $cc-width
  display inline-block
  &-b
    border-radius 10px
    overflow hidden
    > .title
      width $cc-title-width
      height $cc-title-height
      background-color $cc-title-bg
      line-height $cc-title-height
      color $cc-title-clr
      margin 0
      padding 0
      font-size 18px
      font-weight normal
      text-align center
    > .cntr
      width $cc-cntr-width
      min-height $cc-cntr-mini-height
      background-color $cc-cntr-bg
      position relative
