// Dimensions
$cc-width = 624px
$cc-title-width = 100%
$cc-title-height = 73px
$cc-cntr-width = 100%
$cc-cntr-mini-height = 310px

// Raw Colors
$white = #FFF
$pr-blue = #5593d7
$pr-blue-2 = #6FAFEF
$pr-blue-3 = #3575B5
$grey-1 = #EEECEC
$grey-2 = #555
$grey-3 = #888
$grey-4 = #AAA

// Background colors
$default-btn-bg = $grey-3
$default-btn-hover-bg = $grey-4
$default-btn-active-bg = $grey-2
$pr-btn-bg = $pr-blue
$pr-btn-hover-bg = $pr-blue-2
$pr-btn-active-bg = $pr-blue-3
$cc-title-bg = $pr-blue
$cc-cntr-bg = $grey-1
$copy-btn-bg = $grey-3

// Text colors
$default-btn-txt = $white
$common-text = $grey-2
$cc-title-clr = $white

//Path
$github-icon = "../img/github.png"
$google-icon = "../img/google.png"
$twitter-icon = "../img/twitter.png"
$copy-icon = "../img/copy-icon.png"